<script type="text/html" id="not-logged-in-tmpl">
  <h1 style="text-align:center;color: #980000;">You are not logged in!</h1>
  <h3 style="text-align:center;">Please Login or Create an account</h3>
</script>

<script type="text/html" id="no-projects-tmpl">
  <h1 style="text-align:center;color: #980000;">You have no Projects!</h1>
  <h3 style="text-align:center;">To create a new Project click "File" - > "Create New Project"</h3>
</script>

<script type="text/html" id="project-no-pages-tmpl">
  <h1 style="text-align:center;color: #980000;">Project: <span data-bind="text:coreData.currProject.projectName"></span> Has No Pages Yet.</h1>
  <h3 style="text-align:center;">To create one click <b>File - > Create New Page</b></h3>
</script>